/* importar tipografia */
*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    text-align: center;
    padding: 120px 0;
    background: rgb(109, 102, 102);
    min-height: 100vh;
}

h1{
    color: aqua;
    font-size: 50px;
}
h2{
    color: aqua;
    font-size: 30px;
    margin: 20px 0;

}
.botones{
    width: 80%;
    margin: 10px auto;

}
button{
    position: relative;
    padding: 11px 30px;
    background: transparent;
    border: none;
    color: aqua;
    margin: 10px;
    transition: .4s;
}
button::after{
    position: absolute;
    width: 0;
    content: "";
    height: 2px;
    background: rgb(0, 26, 255);
    left: 0;
    bottom: 0;

    
}
button:hover{
    background: aqua;
    color: black;
    
}
button:hover:after{
    width: 100%;
}